# App
PORT=3003
CORS_ORIGIN=http://localhost:4200

# Postgres (docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=resourcing_service
POSTGRES_PORT=5432

# Prisma
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/resourcing_service
